<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<title>Socket io chat</title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
	</head>
	<body>
		
    <div class="container" id="app">
        <div class="col-md-4 col-lg-6 offset-lg-3 offset-md-4">
            <div v-if="ready">
                <h4></h4>
                <p v-for="item in info">
                    <small>{{ item.name }} {{ item.type }}</small>
                </p>
            </div>
            <form class="mt-4" @submit.prevent="addName" v-if="!ready">
                <div class="form-group row">
                    <label>Set Your Name First</label>
                    <input type="text" class="form-control col-9" placeholder="Type Here" v-model="name">
                    <input type="submit" value="Add" class="btn btn-sm btn-info ml-1 col-2" >
                </div>
            </form>
            <h1 v-if="ready">{{name}}</h1>
            <div class="card bg-info" v-if="ready">
                <div class="card-header text-white">
                    Alladin Chats
                    <span class="float-right"></span>
                </div>

                <ul class="list-group list-group-flush">
                    <small v-if="typing" class="text-white">
                        <i>{{ typing }} is typing</i>
                    </small>
                    <li class="list-group-item" v-for="message in messages">
                        <span :class="{'float-right': message.type === 0}">
                            {{message.message}}
                            :{{message.by}}
                        </span>
                    </li>
                </ul>

                <div class="card-body">
                    <form @submit.prevent="send">
                        <div class="form-group">
                            <input type="text" class="form-control"  placeholder="Type Here" v-model="newMessage">
                        </div>
                    </form>
                </div>
				<p>Пользователей онлайн : {{ connections }}</p>
            </div>
        </div>
    </div>


		<script src="/socket.io/socket.io.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/vue@2.5.21/dist/vue.js"></script>
		<script>
		  var socket = io();
		  var app = new Vue({
		  	el: '#app',
		  	data: {
		  		newMessage: null,
		  		messages: [],
		  		typing: false,
		  		name: '',
		  		ready: false,
		  		info: [],
		  		connections : 0
		  	},
		  	methods: {
		  		send(){
		  			this.messages.push({message: this.newMessage, type: 0, by: 'Me'});
		  			socket.emit('chat-message', {message: this.newMessage, user: this.name});
		  			this.newMessage = null;
		  		},
		  		addName(){
		  			this.ready = !this.ready;
		  			socket.emit('joined', this.name);
		  		}
		  	},
		  	watch:{
		  		newMessage(value){
		  			value ? socket.emit('typing', this.name) : socket.emit('stopTyping')
		  		}
		  	},
		  	created: function(){
		  		window.onbeforeunload = () =>{
		  			socket.emit('leaved', this.name)
		  		},
		  		socket.on('connections', (data)=>{
		  			this.connections = data;
		  		});
		  		socket.emit('Created', 'Denis')
		  		socket.on('Created', (data)=>{
		  			console.log(data);
		  		});
		  		socket.on('chat-message', (data)=>{
		  			this.messages.push({message: data.message, type: 1, by: data.user});
		  		});
		  		socket.on('typing', (name)=>{
		  			this.typing = name;
		  		});
		  		socket.on('stopTyping', (data)=>{
		  			this.typing = false;
		  		});
		  		socket.on('joined', (data)=>{
		  			this.info.push({name: data, type: 'joined'});
		  			setTimeout(()=>{
		  				this.info = [];
		  			}, 5000);
		  		});
		  		socket.on('leaved', (data)=>{
		  			this.info.push({name: data, type: 'leaved'})
		  		});
		  	}
		  });
		</script>
	</body>
</html>